<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.base.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.login.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.hongyang.HongyangActivity"
            android:screenOrientation="portrait"
            />
        <!-- <activity android:name="com.example.hongyang.HongyangActivity" /> -->

        <activity android:name="com.example.simpleexercise.SimpleExerciseActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.guolin.GuolinActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.guolin.GuolinActivity2"
            android:screenOrientation="portrait"
            />
        <activity android:name=".CustomerView5"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>